<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <link rel="stylesheet" href="/newpost.css">
</head>
<body>
    <div class="navbar">
        <a href="/"><%= t('home')%></a>
        <a href="/music"><%= t('music')%></a>
        <a href="/artist"><%= t('artists')%></a>

    <% if (loggeduser.isAdmin) { %>
        <a href="/admin" class="admin-button"><%= t('adminPanel')%></a>
    <% } %>
        
        <div class="navbar-right">
            <form action="/logout" method="POST">
                <button type="submit" class="logout-button"><%= t('logout')%></button>
            </form>
        </div>
        
    </div>
    <div class="translate">
        <a href="/change-lang/kz"><img src="/pictures/kz.jpg" alt="kzflag" width="40px" height="30px"></a>
        <a href="/change-lang/en"><img src="/pictures/britain.png" alt="enflag" width="40px" height="30px"></a>
        <a href="/change-lang/ru"><img src="/pictures/russia.png" alt="ruflag" width="40px" height="30px"></a>
    </div>
<div class="container">
    <h1><%= t('newPost')%></h1>
    <form action="/newpost" method="POST" enctype="multipart/form-data">
        <div>
            <label for="images"><%= t('uploadImg')%></label>
            <input type="file" name="images" id="images" multiple>
        </div>
        <div>
            <label for="images"><%= t('uploadImg')%></label>
            <input type="file" name="images" id="images" multiple>
        </div>
        <div>
            <label for="images"><%= t('uploadImg')%></label>
            <input type="file" name="images" id="images" multiple>
        </div>
        <div>
            <label for="postName"><%= t('postName')%></label>
            <input type="text" name="postName" id="postName" required>
        </div>
        <div>
            <label for="description"><%= t('description')%></label>
            <textarea name="description" id="description" rows="4" required></textarea>
        </div>
        <button type="submit" class="create-post-button"><%= t('createPost')%></button>
    </form>
</div>

</body>
</html>
